<div class="row">
    <div class="col-md-4">
        <input type="text" ng-model="fname" class="form-control-static" placeholder="Enter First Name">
        <input type="text" ng-model="lname" class="form-control-static" placeholder="Enter Last Name">
        Card Type:
        <select ng-model="card.type" ng-options="ct.type for ct in card" class="form-control-static"></select>
        <input type="text" ng-model="cname" class="form-control-static" placeholder="Enter Card Number"><br />
        <a href="#/templates" class="btn btn-primary">Submit</a>
    </div>

</div>